@import "tailwindcss";

/** ↓これないとhover効かなくなる https://github.com/tailwindlabs/tailwindcss/issues/16531 **/
@custom-variant hover {
  &:hover {
    @slot;
  }
}

:root {
  /* カラーコード */
  --background: #f8fafc;
  --foreground: #333;
  --primary: #2924c7;
  --primary-strong: #1e1b9b;
  --secondary: #64748b;
  --secondary-subtle: #ccc;
  --muted: #e2e8f0;
  --info: #0ea5e9;
  --success: #0c8a60;
  --warning: #f59e0b;
  --danger: #e24141;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-strong: var(--primary-strong);
  --color-secondary: var(--secondary);
  --color-secondary-subtle: var(--secondary-subtle);
  --color-muted: var(--muted);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  /* フォント */
  --font-noto-sans-jp: var(--font-noto-sans-jp);
}

@keyframes snackbar-timeout {
  0%,
  90% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
}

.animate-snackbar-timeout {
  animation: snackbar-timeout 4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
    --secondary: #94a3b8;
    --muted: #1e293b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-jp);
}

/* フォントサイズ調整 */
@tailwind base;
@layer base {
  /** ～639px **/
  html {
    font-size: 12px;
  }
  /** 640px～767px **/
  @media (min-width: theme("screens.sm")) {
    html {
      font-size: 14px;
    }
  }
  /** 768px～ **/
  @media (min-width: theme("screens.md")) {
    html {
      font-size: 16px;
    }
  }
}
